
<div class="container-xxl bg-white p-0">

    <!-- Navbar & Hero Start -->
    <section style="margin-bottom: -5%;" id="nav-hero" class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0 sticky-top shadow-sm">
            <a href="/" class="navbar-brand p-0">
                <h1 class="m-0"><img class="fa fa-server me-3" src="assets/img/landing-chemquest/ChemQuestLogo.png" alt="">Hotel´s Hub</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="#nav-hero" class="nav-item nav-link active">Home</a>
                    <a href="#about" class="nav-item nav-link">Hotel´s</a>
                    <a href="#games" class="nav-item nav-link">Reservation</a>
                   
                </div>
                <a href="/signup" class="btn btn-secondary py-2 px-4 ms-3">Sing up</a>
            </div>
        </nav>

        <div style="margin-bottom: 6% !important; padding-bottom: 0%;" class="container-xxl py-5 bg-primary hero-header mb-5">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6 pt-5 text-center text-lg-start">
                        <h1 class="display-4 text-white mb-4 animated slideInLeft" style="text-align: center;">Welcome to Hotels Hub</h1>
                        <p class="text-white animated slideInLeft" style="text-align: center;">¡Share the best Hotel´s in the world!</p>
                        <a href="/login" class="btn btn-secondary py-sm-3 px-sm-5 me-3 animated slideInLeft">Sing In</a>
                    </div>
                    <div style="margin-top: 0px;" class="col-lg-6 text-center text-lg-start">
                        <img class="img-fluid animated zoomIn" src="assets/img/landing-chemquest/heroChemQuest.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <svg style="margin-top: -5%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7dce45" fill-opacity="1" d="M0,224L60,240C120,256,240,288,360,261.3C480,235,600,149,720,106.7C840,64,960,64,1080,74.7C1200,85,1320,107,1380,117.3L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    
    <!-- Navbar & Hero End -->


    <!-- About Start -->
    <section id="about" class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="section-title position-relative mb-4 pb-4">
                        <h1 style="font-size: 36px;" class="mb-2">About</h1>
                    </div>
                    
                    <p class="mb-4">Welcome to Hotel Hub, where comfort meets luxury. Established in 2000, we have been dedicated to providing exceptional hospitality experiences for our guests. Our hotels are located in the heart of major cities, offering the perfect blend of modern amenities and timeless elegance.</p>
                    <div class="row g-3">
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                            <div class="bg-light rounded text-center p-4 equal-height">
                                <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">Good Hotel´s</h2>
                            
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                            <div class="bg-light rounded text-center p-4 equal-height">
                                <i class="fa fa-users fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">Easy Reservation</h2>
                            
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                            <div class="bg-light rounded text-center p-4 equal-height">
                                <i class="fa fa-check fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">Save Money</h2>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="assets/img/landing-chemquest/7484851.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->

    <!-- games Start -->
    <section id="games" class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Manage Reservations</h1>
                <p class="mb-1">The posibility to manage your reservations easy and fast</p>
            </div>
            
            <div style="max-width: 80%; margin-left: 10%;" class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="card-chemquest position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="fa fa-share-alt text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h2 class="mb-1">Reorganize the Times</h2>
                            <p class="mb-0">You can change the initial day and final also</p>
                        </div>
                        <div class="text-center border-bottom p-4">
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="card-chemquest position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="fa fa-share-alt text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h2 class="mb-1">Cancel Reservations</h2>
                            <p class="mb-0">You could have the posibility to cancel a reservation.</p>
                        </div>
                        <div class="text-center border-bottom p-4">
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="card-chemquest position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="fa fa-share-alt text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h2 class="mb-1">Create new Reservations</h2>
                            <p class="mb-0">It's easy to use, for example, you can effortlessly create new reservations to suit your preferences.</p>
                        </div>
                        <div class="text-center border-bottom p-4">
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="card-chemquest position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="fa fa-share-alt text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h2 class="mb-1">After the Service</h2>
                            <p class="mb-0">Share your experience about the service you received in a specific room and rate the hotels with stars based on the quality of the service.</p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            
                        </div>   
                    </div>
                </div>
                
            </div>

        </div>
    </section>
    <!-- games End -->
    <svg style="margin-bottom: -5%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7dce45" fill-opacity="1" d="M0,224L60,240C120,256,240,288,360,261.3C480,235,600,149,720,106.7C840,64,960,64,1080,74.7C1200,85,1320,107,1380,117.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
  
    <!-- Footer Start -->
    <footer style="margin-top: 3% !important;" id="faq" class="container-fluid bg-primary text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5 px-lg-5">
            <div class="row g-5">
                <div style="padding-left: 0%;" class="col-md-6 col-lg-3">
                    <h3 style="text-align: center;" class="text-white mb-4">Contact Us</h3>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control border-0 rounded-pill" placeholder="Name">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control border-0 rounded-pill" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <textarea style="border-radius: 12px !important;" class="form-control border-0 rounded-pill" rows="4" placeholder="Text"></textarea>
                        </div>
                        <div class="position-relative mt-3">
                            <button type="submit" style="background-color: #1a661a; border-color: #1a661a;" class="btn btn-primary rounded-pill w-100">Send</button>
                        </div>
                    </form>
                </div>
                <div style="margin-top: 14%; margin-left: 10%;" class="col-md-6 col-lg-3">
                    <h3 class="text-white mb-4">Us office</h3>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Av. Universidad, Cenfotec, SJ.</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+506 2445 0000</p>
                    <p><i class="fa fa-envelope me-3"></i>supportHotelHub.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="container px-lg-5">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Hotel Hub</a>, All rights reserved. 
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="#nav-hero">Home</a>
                            <a href="#about">About</a>
                            <a href="#games">Reservations</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</div>
<%=stylesheet_link_tag('landing') %>