<% content_for :title, "New calification" %>

<h1>New calification</h1>

<%= render "form", calification: @calification %>

<br>

<div>
  <%= link_to "Back to califications", califications_path %>
</div>
